@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

body{
  font-family: 'Poppins', sans-serif;

}
.box{
margin-top: 10px;
margin-bottom: 10px;
width: 100px;
height: 100px;
background-color: red;
padding: 20px 10px 10px 10px;
text-align: center;
cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.box2{
margin-top: 10px;
margin-bottom: 10px;
width: 100px;
height: 100px;
background-color: lightblue;
padding: 20px 10px 10px 10px;
text-align: center;
cursor: pointer;
display: block;
    font-family: 'Poppins', sans-serif;
}

button {
	background: darkslateblue;
	color: #fff;
	padding: 10px 15px;
	border: 1px solid #000;
	border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

span.red{
	color: red;
}
td {
    border: 1px solid darkslateblue;
    padding: 5px;
}
th {
    border: 1px solid darkslateblue;
    padding: 5px;
}